__pycache__/
venv/
.venv/
ENV/
env/
.idea/
.DS_Store
.jemma.py
.env
.dockerignore
*.dockerignore
docker-compose.override.yml
fly.toml

gp.php
*/gp.php

*.log
*.swp
*.tmp
*.bak
*.orig

secrets/

.coverage
coverage.xml
htmlcov/
